@import "src/components/common/constants";
@import "src/components/common/fonts";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.link {
  padding: 15px;
  border-radius: 15px;
  background-color: $tofsengray;
  color: $tofsenblue;
  text-decoration: none;
}

.link:hover {
  background-color: $tofsengray_highlight;
}

.title {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Franklin Gothic Book", sans-serif;
  font-weight: bold;
  color: $tofsenorange;
  border-radius: 30px;
  padding: 30px;
  background-color: $tofsengray
}